{% extends "base.html" %}

{% load staticfiles %}

{% block extra_head %}
    {% if js %}
        <script type="text/javascript" src="{% static "creddit/js/libs/requirejs/require-2.1.11.min.js" %}"
                data-main="{% static "creddit/js/app/main" %}"></script>
        <script type="text/javascript">
            subscribed = [];
        </script>
    {% endif %}
        
{% endblock %}

{% block content %}
    {{ block.super }}
    <ul>
    {% for post in posts %}
        <li>
            <a href="{{ post.get_absolute_url }}">{{ post }}</a><br/>
            {% include "includes/post-info.html" %}
        </li>
    {% empty %}
        <li class="no-posts">Sorry, no posts to show here.</li>
    {% endfor %}
    </ul>
    <div class="pagination">
        {% if page > 1 %}
            <a href="?page={{ page|add:-1 }}">&larr; Prev</a>
        {% endif %}
        {% if posts %}
            <a href="?page={{ page|add:1 }}">Next &rarr;</a>
        {% endif %}
    </div>
{% endblock %}