{% load post_helper %}

<div class="info">by {% if post.user %}<a href="{{ post.user.profile.get_absolute_url }}">{{ post.user }}</a>{% else %}anonymous{% endif %} {{ post.created_date|timesince }} ago in <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></div>
<a href="{% url 'credits' post.category.slug post.slug %}">{{ post.credit }}</a>
<a href="{% url 'upvote' post.category.slug post.slug %}?next={{ next }}">
    {% if post|has_upvoted:user %}Unupvote{% else %}Upvote{% endif %}
</a>
<a href="{% url 'downvote' post.category.slug post.slug %}?next={{ next }}">
    {% if post|has_downvoted:user %}Undownvote{% else %}Downvote{% endif %}
</a>
{% if post.user == user %}
    <a href="{% url 'edit' post.category.slug post.slug %}">Edit</a>
    <a href="{% url 'delete' post.category.slug post.slug %}">Delete</a>
{% endif %}
<a href="{% url 'post' post.category.slug post.slug %}">Permalink</a>
{% if post|is_subscribed:user %}
    <a href="{% url 'unsubscribe' post.category.slug post.slug %}?next={{ next }}">Unsubscribe</a>
    {% if js %}
        <script type="text/javascript">
            subscribed.push({{ post.id }});
        </script>
    {% endif %}
{% else %}
    <a href="{% url 'subscribe' post.category.slug post.slug %}?next={{ next }}">Subscribe</a>
{% endif %}
{% if main and post.parent %}<a href="{% url 'post' post.parent.category.slug post.parent.slug %}">Parent</a>{% endif %}
<a class="reply" href="javascript:document.getElementById('reply-{{ post.id }}').style.display='block'; void(0);">Reply</a>