{% load post_helper %}

<div class="info">by <a href="{{ post.user.profile.get_absolute_url }}">{{ post.user }}</a> {{ post.created_date|timesince }} ago in <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></div>
<a href="{% url 'credits' post.category.slug post.slug %}">{{ post.credit }}</a>
<a href="{% url 'upvote' post.category.slug post.slug %}?next={{ next }}">Upvote</a>
<a href="{% url 'downvote' post.category.slug post.slug %}?next={{ next }}">Downvote</a>
<a href="{% url 'post' post.category.slug post.slug %}">Permalink</a>
{% if post|is_subscribed:user %}
    <a href="{% url 'unsubscribe' post.category.slug post.slug %}?next={{ next }}">Unsubscribe</a>
{% else %}
    <a href="{% url 'subscribe' post.category.slug post.slug %}?next={{ next }}">Subscribe</a>
{% endif %}
{% if main and post.parent %}<a href="{% url 'post' post.parent.category.slug post.parent.slug %}">Parent</a>{% endif %}
<a href="javascript:document.getElementById('reply-{{ post.id }}').style.display='block'; void(0);">Reply</a>
<form id="reply-{{ post.id }}" {% if not main %}style="display: none"{% endif %} method="post" action="{{ post.get_absolute_url }}">{% csrf_token %}
    <input type="hidden" name="next" value="{{ main_post.get_absolute_url }}" />
    <textarea name="text" rows="3" cols="60"></textarea><br/>
    <input type="submit" value="Submit" />
</form>